.main {
  /*
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  */
}

/* Profile Page */
.profilePageStyles {
    display: flex;
    flex-direction: column;
}

.profilePageStylesMain {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation */

.navigation {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
}

.navOptions {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
  justify-content: space-between;
  width: 25%;

}

.navBranding {
  margin-left: 2rem;
}

.mainNavbar {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainNavbar h1 {
  margin-left: 16px;
}

/* Headers */
.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Central Image Box */
.centralImageBox {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* userField */
.userField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userField .walkButton {
  margin: 1rem 0;
  width: 20%;
}

/* Login & Signup */
.userAuthHeader {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  
}

.loginPageStyles {
  animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
}

.aboveHeaderStyles {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.loginPageStyles Image {

}

.signupPageStyles {
  animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
}

.userAuthSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconClick {
  cursor: pointer;
  margin-left: 2rem;
}

.iconClick:hover {
  border: solid forestgreen;
  border-radius: 2rem;
}