.main {
  /*
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  */
}
/* Navigation */

.navigation {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  justify-content: right;
}

.navigation p {
  margin-right: 2rem;
}

/* Central Image Box */
.centralImageBox {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* userField */
.userField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userField .walkButton {
  margin: 1rem 0;
  width: 20%;
}